/* Start Global Rules */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.form {
    width: 400px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 4px;
    display: flex;
    margin: 40px auto 20px;
}

.form .input {
    flex: 1;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    caret-color: red;
    padding: 6px;
    font-size: 14px;
}

.form .add {
    border: none;
    padding: 6px;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.tasks {
    width: 400px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin: 0 auto;
}

.task {
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.delete {
    border: none;
    color: white;
    background-color: red;
    padding: 1px 3px;
    border-radius: 4px;
}

@media (max-width: 991px) {
    .form {
        width: 300px;
        max-width: 100%;
    }

    .tasks {
        width: 300px;
        max-width: 100%;
    }
}
